@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
html{
  background-color: rgb(61, 63, 78);
}
body{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  background-color: rgb(61, 63, 78);
  height: 100vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contenedor-header{
  background-color: rgb(224, 222, 210);
  display: flex;
  flex-direction: space-between;
  justify-content: space-around;
  align-items: center;

  box-shadow: 10px 10px 10px -15px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav a{
  margin: 20px;
  text-decoration: none;
  color: black;
}

.nav li{
  list-style: none;
}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(8, 112, 107);
}
.titulo-link{
  text-decoration: none;
}
.titulo{
  font-size: 55px;
  font-weight:  bold;
}
article .card{
  background-color: #4e5152;

text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

article img{
  height: 120px;
}
li{
  font-size: 22px;
  color: rgb(255, 249, 249);
  font-weight:normal;
  text-decoration: none;
}
a{
  color: grey;
}
li a{
    padding-left: 5px;
    padding-right: 7px;
    text-decoration: none;
    transition: all 0.3s ease; 
    border-radius: 3px;
}
li a:hover{
  box-shadow: 10px 10px ;
  color: white;
  background-color: rgb(54, 44, 55);
}
.container-count{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #281d28;
  width: 420px;
  border-radius: 4px;
  padding: 10px;
}
.count-btn{
  border-radius: 3px;
  width: 100px;
  height: 100px;
  background-color: rgb(124, 102, 124);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 20px;
  box-shadow: none;
}
.boton{
  border-radius: 4px;
}
p{
  font-weight: bolder;
}
.add-btn{
  color: white;
}

.item-list{
 display: grid;
  gap: 6rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem ,2fr)); 


}
.link-cartas{
  text-decoration: none;
}
.contenedor-cartas{
  width: 20px;
  margin: 20px;

}
.contenedor-cartas img{
  height: 190px;
}
.card-body{
  background-color: rgb(200, 200, 200);
}
.card .list-group-item{
  color: rgb(240, 240, 240);
  background-color: #4e5152;
}
#titulo-cartas{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}
.detail-container{
  width: 530px;
  height: 700px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #9a8ba4;
  display: flex;
  justify-content: center;
}
.imagen-detalle{
  margin-top: 5px;
  height: 300px;
  width: 520px;
  border-radius: 10px;
}
h2{
  font-family: 'Bebas Neue', cursive;
}
.subtitulo{
  color: antiquewhite;
  font-size: 5rem;
}
h3{
  font-family: 'Bebas Neue', cursive;
  color: rgb(175, 210, 174);
 
}
h4{
  font-family:cursive;
}
.detalles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.precios{
  
  width: 350px;
  border-bottom: solid 1px rgb(134, 134, 134);
  border-top: solid 1px rgb(134, 134, 134);
  margin-right: 130px;
  font-size: 3rem;
}
.categorias{
  font-family: 'Fredoka One', cursive;
  width: 350px;
  border-bottom: solid 1px rgb(134, 134, 134);
  color: rgb(238, 226, 211);
  margin-right: 130px;
}
.add-btn-1{
  font-family: 'Fredoka One', cursive;
  color: white;
}
.formulario{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn-2{
  background-color: rgb(88, 72, 88);
  border: none;
  width: 89px;
  border-radius: 5px;
}
.contenedor-carrito2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contenedor-carrito1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenedor-carrito1 img{
  height: 200px;
}
.borrar{
  width: 150px;
}
.cartas-fondo{
  height: 50vh;
}
.contenedor-compra2{
  height: 100vh;
}